// Background of the presentation
$backgroundColor: #212327;

// Primary/body text
$mainColor: #efe9e7;

// Headings
$headingColor: #fb6376;

// Links and actions
$linkColor: #62c370;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #4056f4;
$selectionColor: #efe9e7;

// Change text colors against dark slide backgrounds
@include light-bg-text-color(#212327);
