body {
  box-sizing: border-box;
  border-top: 10px solid #df2147;
}

.reveal {
  h2 {
    margin-bottom: calc(var(--r-block-margin) * 1.5);
  }

  ul,
  ol {
    margin: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: var(--r-block-margin) 0 0 var(--r-block-margin);
  }

  li {
    &::marker {
      color: var(--r-link-color);
    }

    + li {
      margin-top: var(--r-block-margin);
    }

    p {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0.5em;

    > li {
      padding-left: 0.5em;

      &::marker {
        content: "◦";
      }

      ul > li::marker {
        content: "→";
      }
    }
  }

  code:not(.hljs) {
    font-weight: 500;
  }

  pre {
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid rgba(160 160 160 / 0.5);
    font-size: 0.8em;
    line-height: 1.3em;

    code {
      border-radius: inherit;
      max-height: none;
    }
  }
}

// ---------------------------------------------------------------------
// Use the following to align the slides to the left
// Additionally, use the config: `Reveal.initialize({ center: false });`
.reveal {
  section {
    text-align: left;
  }

  pre {
    width: auto;
  }
}
// ---------------------------------------------------------------------
