@import "./reveal-settings.scss";

$custom-codeColor: #c18401;

.reveal {
  h2 {
    margin-bottom: $blockMargin * 1.5;
  }

  ul,
  ol {
    margin: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: var(--r-block-margin) 0 0 var(--r-block-margin);
  }
  
  li {
    &::marker {
      color: #fd841f;
    }

    + li {
      margin-top: var(--r-block-margin);
    }

    p {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0.5em;

    > li {
      padding-left: 0.5em;

      &::marker {
        content: "◦";
      }

      ul > li::marker {
        content: "→";
      }
    }
  }

  code:not(.hljs) {
    color: $custom-codeColor;
  }  

  pre {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #{rgba($mainColor, 0.5)};
    border-left: 2px solid $headingColor;
    font-size: 0.8em;
  
    code {
      max-height: none;
      background: none;
    }
  }
}

// ---------------------------------------------------------------------
// Use the following to align the slides to the left
// Additionally, use the config: `Reveal.initialize({ center: false });`
.reveal {
  section {
    text-align: left;
  }

  pre {
    width: auto;
  }
}
// ---------------------------------------------------------------------
