// Primary/body text
$mainFont: "Open Sans", sans-serif;
$mainFontSize: 36px;

// Vertical spacing between blocks of text
$blockMargin: 36px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Courgette", cursive;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1em;

$codeFont: "Fira Mono", monospace;
