/**
 * Copy/paste from: "../node_modules/reveal.js/css/theme/source/*.scss"
 */

// Default mixins and settings
@import "../node_modules/reveal.js/css/theme/template/mixins";
@import "../node_modules/reveal.js/css/theme/template/settings";

// Include theme-specific fonts
@import "../node_modules/@fontsource/nunito/400.css";
@import "../node_modules/@fontsource/nunito/700.css";
@import "../node_modules/@fontsource/fira-code/400.css";
@import "../node_modules/@fontsource/fira-code/500.css";

// Override theme settings (see ../template/settings.scss)
@import "./settings.scss";
@import "./colors-dark.scss"; // Choose between "colors-light.scss" and "./colors-dark.scss"

// Theme template
@import "../node_modules/reveal.js/css/theme/template/theme";
